<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Title</title>
   <canvas id="line-chart" style="position: relative; height:40vh; width:80vw"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ['04:25:55', '04:29:45', '04:29:49', '04:29:54', '04:29:58', '04:30:03'],
    datasets: [{
        data: [{% for Arduino in ardu %}{{ Arduino.temperature}},{% endfor %}],
        label: "Temperature",
        borderColor: "#3e95cd",
        fill: false
      }, {
        data: [{% for Arduino in ardu %}{{ Arduino.humidity}},{% endfor %}],
        label: "humidity",
        borderColor: "#8e5ea2",
        fill: false
      },
    ]
  },
  options: {
      responsive: true,
    title: {
      display: true,
      text: 'Arduino Data'
    }
  }
});
</script>
</head>
<body>

</body>
</html>

