<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Title</title>
    <canvas id="line-chart" style="position: relative; height:40vh; width:80vw"></canvas>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
<div class=" date input-group" id="datetimepicker_id_datetime">
    <input class=" form-control" id="startdate" name="startdate" type="text" required/>
    <input class=" form-control" id="enddate" name="enddate" type="text" required/>
    <button id="date_btn" onclick="btnFunction()">send</button>

</div>
<script>(function () {
    $(document).ready(function () {
        $("#startdate").datetimepicker({
             format: 'DD/MM/YYYY HH:mm'}
        );
        $("#enddate").datetimepicker({
             format: 'DD/MM/YYYY HH:mm'
        });
    });
})(jQuery);
</script>
<script>
    function btnFunction() {
        var startdate = document.getElementById("startdate").value;
        var enddate = document.getElementById("enddate").value;
        {#console.log(startdate)#}
        {#console.log(enddate)#}
        sendData(startdate, enddate)
    }

    function sendData(startdate,enddate) {
        var jsonData = new Object()
        $.ajax({

            url: 'GetDate/',
            datatype: 'json',
            async: false,
            type: 'POST',
            data: {'startdate':startdate,'enddate':enddate},
            beforeSend: function (XMLHttpRequest) {
            },
            success: function (data) {
                {#jsonData.startdate = document.getElementById("startdate").value#}
                {#jsonData.enddate = document.getElementById("enddate").value#}

                console.log(startdate,enddate)

            },
            error: function (request, status, error) {
                alert("실패")
            }
        });

    }
</script>
</body>
</html>

