{% extends 'plc/base.html' %}
{% load staticfiles %}

<html>
<head>
    {% block head %}
        {#        <script src="https://d3js.org/d3.v4.min.js"></script>#}
        {#        <script src="http://code.jquery.com/jquery-latest.min.js"></script>#}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        {#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
        {#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
        {#        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>#}
        {#        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>#}
        {#        <link rel="stylesheet"#}
        {#              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>#}

        <link href="/static/style.css" rel="stylesheet" type="text/css"/>
        <link href="/static/style-responsive.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" href="/static/dht_style.css?ver=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link rel="stylesheet" type="text/css" media="all" href="/static/css/daterangepicker.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
        <script type="text/javascript" src="/static/js/daterangepicker.js"></script>
        <title>DHT11 Temperature/Humidity monitoring</title>
    {% endblock %}
</head>

<body mode="desktop" num="2000">


{% block content %}
    <div id="main">
        <div id="sensor_average">
            <p id="mini_title">MAX DATA</p>
            <div id="temp" class="mini">
                <h6 id="temp_text">{{ MAX_Temperature }}</h6>
                <p>Temperature</p>
            </div>
            <div id="humi" class="mini">
                <h6 id="humi_text">{{ MAX_Humidity }}</h6>
                <p>Humidity</p>
            </div>
            <div id="elec" class="mini">
                <h6 id="elec_text">2234</h6>
                <p>electronic</p>
            </div>
            <div id="infra" class="mini">
                <h6 id="infra_text">24123</h6>
                <p>infrared</p>
            </div>
        </div>
        <div class="info">
            <div class="card-1">
                <p id="op_id">Operator ID</p>
                <div id="operator-led">
                    <p>2353</p>
                </div>
            </div>
            <div class="card-2">
                <p id="outlier">Recent Outlier data</p>
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Sensor</th>
                                <th class="cell100 column2">Time</th>
                                <th class="cell100 column3">Value</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column1">{{ sensor.0 }}</td>
                                <td class="cell100 column2">{{ value.0 }}</td>
                                <td class="cell100 column3">{{ date.0 }}</td>
                            </tr>

                            <tr class="row100 body">
                                <td class="cell100 column1">{{ sensor.1 }}</td>
                                <td class="cell100 column2">{{ value.1 }}</td>
                                <td class="cell100 column3">{{ date.1 }}</td>
                            </tr>

                            <tr class="row100 body">
                                <td class="cell100 column1">{{ sensor.2 }}</td>
                                <td class="cell100 column2">{{ value.2 }}</td>
                                <td class="cell100 column3">{{ date.2 }}</td>
                            </tr>

                            <tr class="row100 body">
                                <td class="cell100 column1">{{ sensor.3 }}</td>
                                <td class="cell100 column2">{{ value.3 }}</td>
                                <td class="cell100 column3">{{ date.3 }}</td>
                            </tr>

                            <tr class="row100 body">
                                <td class="cell100 column1">{{ sensor.4 }}</td>
                                <td class="cell100 column2">{{ value.4 }}</td>
                                <td class="cell100 column3">{{ date.4 }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-3">
                <p id="outlier2"> Data History Select</p>
                <input type="text" name="startdate" id="startdate"/>
                <script>
                    $(document).ready(function () {
                        {#$('.startdate').daterangepicker({#}
                        $('input[id="#startdate"]').daterangepicker({
                            timePicker: true,
                            startDate: moment().startOf('hour'),
                            endDate: moment().startOf('hour').add(32, 'hour'),
                            timePicker24Hour: true,
                            locale: {
                                format: 'YYYY/M/DD hh:mm A'
                            }
                        });
                    });
                </script>
                <div class="text-box">
                    <a href="" onclick="btnFunction()" class="btn btn-white btn-animate">click me</a>
                </div>
                <
            </div>
            <div>
            </div>
        </div>
        <script>
            function btnFunction() {
                var startdate = document.getElementById("startdate").value;
                sendData(startdate)
            }
            function sendData(startdate) {
                var jsonData = new Object()
                $.ajax({
                    url: 'GetDate/',
                    datatype: 'json',
                    async: false,
                    type: 'POST',
                    data: {'startdate': startdate,},
                    beforeSend: function (XMLHttpRequest) {
                    },
                    success: function (data) {
                        console.log(startdate)
                    },
                    error: function (request, status, error) {
                        alert("실패")
                    }
                });
            }
        </script>
        <div class="chart_container">
            <p class="graph-title">Temperature/Humidity Graph</p>
            <div id="chart">
            </div>
            <script>
                var data = getData()
                var time = new Date()
                Plotly.plot('chart', [
                    {
                        x: [time],
                        y: [20],
                        mode: 'lines',
                        marker: {color: 'pink', size: 8},
                        line: {width: 4},
                        name: 'Temperature'
                    }, {
                        x: [data['time']],
                        y: [30],
                        mode: 'lines',
                        marker: {color: 'gray', size: 8},
                        line: {width: 4},
                        name: 'Humidity'
                    },
                ]);
                var cnt = 0;
                var interval = setInterval(function () {
                    var data = getData();
                    var x = Math.floor(Math.random() * 40)+20;
                    var y = Math.floor(Math.random() * 40)+20;
                    var time = new Date();
                    Plotly.extendTraces('chart', {
                        x: [[time], [time]],
                        {#y: [[data['temp']], [data['humi']]],#}
                        y: [[x], [y]],
                    }, [0, 1])
                }, 3000);
                function getData() {
                    var jsonData = new Object();
                    $.ajax({
                        url: 'arduino/',
                        datatype: 'json',
                        async: false,
                        type: 'GET',
                        data: "{}",
                        beforeSend: function (XMLHttpRequest) {
                        },
                        success: function (data) {
                            jsonData.temp = 20;
                            jsonData.humi = 30;
                            jsonData.date = data['date']
                            jsonData.time = data['time']
                        },
                        error: function (request, status, error) {
                            alert("실패")
                        }
                    });
                    return jsonData
                }
            </script>
        </div>
        <div class="chart_container">
            <p class="graph-title">Electronic/Infrared Graph</p>
            <div id="chart2">
                <script>
                    var x = Math.floor(Math.random() * 50)+20
                    var y = Math.floor(Math.random() * 50)+20;
                    var data = getData()
                    var time = new Date()
                  Plotly.plot('chart2', [
                    {
                        x: [time],
                        y: [20],
                        mode: 'lines',
                        marker: {color: 'pink', size: 8},
                        line: {width: 4},
                        name: 'Electronic'
                    }, {
                        x: [data['time']],
                        y: [30],
                        mode: 'lines',
                        marker: {color: 'gray', size: 8},
                        line: {width: 4},
                        name: 'Infrared'
                    },
                ]);
                    var cnt = 0;
                   var interval = setInterval(function () {
                    var data = getData();
                    var x = Math.floor(Math.random() * 40)+20;
                    var y = Math.floor(Math.random() * 40)+20;
                    var time = new Date();
                    Plotly.extendTraces('chart2', {
                        x: [[time], [time]],
                        {#y: [[data['temp']], [data['humi']]],#}
                        y: [[x], [y]],
                    }, [0, 1])
                }, 3000);

                    function getData() {
                        var jsonData = new Object();
                        $.ajax({
                            url: 'arduino/',
                            datatype: 'json',
                            async: false,
                            type: 'GET',
                            data: "{}",
                            beforeSend: function (XMLHttpRequest) {
                            },
                            success: function (data) {
                                jsonData.temp = data['temperature']
                                jsonData.humi = data['humi']
                                jsonData.date = data['date']
                                jsonData.time = data['time']
                            },
                            error: function (request, status, error) {
                                alert("실패")
                            }
                        });
                        return jsonData
                    }
                </script>
            </div>
        </div>
    </div>
    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/bootstrap/js/popper.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/select2/select2.min.js"></script>
    <script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);
            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <script src="/static/js/main.js"></script>
{% endblock %}
</body>
</html>
