{% load static %}
<html>
  <head>
      <style>
          #histogram {
              width: 800px;
              height: 800px;

          }
      </style>
    <title>DHT11 Temperature/Humidity monitoring</title>
  </head>

  <body mode="desktop" num="2000">
    <!-- datetime of the last record and its humidity/temperature. -->
    {% block content %}
    <div id="chart"></div>
{#    <script src="script.js"></script>#}
  {% endblock %}
  {% block javascript  %}
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="https://d3js.org/d3.v3.min.js"></script>
      <script>
      var jsonData
          var t = setInterval(getData,2000)
         // getData();
         //console.log(jsonData);
        // DrawGraph()

      function getData(){
          jsonData = $.ajax({
              url:'arduino/',
              datatype:'json',
              async: true,
              type:'GET',
              data:"{}",
              success: function(data){
                    {#console.log(data[0].temperature);#}
                 console.log(data);

              },
              error: function(request, status, error){
                  alert("실패")
              }

          });
         return jsonData;
      }
      </script>
  {% endblock %}
  </body>
</html>